import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly 
#plotly.tools.set_credentials_file(username='jeff20628m', api_key='dGTlRhRtyDCAfsfoOE0u')

In [2]:
## Load data from dataset


data = pd.read_csv('C:\\Users\\USER\\github\\E.sun_conpetition\\data_set\\train.csv')

In [3]:
## check the data type

data.head()

,building_id,building_material,city,txn_dt,total_floor,building_type,building_use,building_complete_dt,parking_way,parking_area,...,XIV_500,XIV_index_500,XIV_1000,XIV_index_1000,XIV_5000,XIV_index_5000,XIV_10000,XIV_index_10000,XIV_MIN,total_price
0,e3mMIMR3JJqCaXz1,8,21,18674,4,3,2,6271,2,NaN,...,58,1,157,1,2483,1,6011,1,34.469803,6.476038e+05
1,LgwzgklNvy4QCtq5,8,7,18800,5,1,2,7885,2,NaN,...,28,1,115,1,15872,1,32221,1,40.073573,3.321452e+06
2,ucIR2NLLsC3T650L,8,7,19289,4,1,2,6028,2,NaN,...,78,1,212,1,15760,1,32228,1,54.462081,9.570885e+06
3,jre1pJhcQj91Kdky,8,21,20385,24,0,2,18325,0,NaN,...,20,1,125,1,2568,1,7271,1,99.628966,1.421501e+07
4,rQpYpY9nRG7X5mmr,1,21,20657,2,4,2,6880,2,NaN,...,18,1,47,1,2587,1,7442,1,124.131236,7.627120e+05

In [4]:
## collect all columns names to a list
columnslist = data.columns.tolist()

## check the len is right (same as data)

len(columnslist)

235